.temp {
  width: 100%;
  height: 70vh;
  background-image: url(image/pexels-flo-maderebner-623919.jpg);

  background-size: cover;
  background-position: center;
}
.party {
  text-align: center;
  padding: 14%;
  background-color: rgba(255, 0, 0, 0.308);
  color: white;
}
.party h1 {
  color: white;
  font-size: 60px;
}
.open{
  margin-right: 140%;
  padding: 20px 30px;
  border: none;
  background-color: rgba(36, 12, 173, 0);
  color: blue;
  font-size: xx-large;
  margin-top: 10%;
  overflow: hidden;
}
.open1{
  margin-right: 140%;
  padding: 20px 30px;
  border: none;
  background-color: rgba(255, 0, 0, 0.295);
  color: blue;
  font-size: x-large;
  display: none;
}
.line {
  width: 30px;
  height: 5px;
  margin-right: 100px;
  margin-top: 5px;
  margin-left: 40px;
  background-color: blue;
  color: blue;
}
.line p {
  margin-left: 50px;
  margin-top: -10px;
  background-color: #e68285 ;
}
.navbart {
  /*  */
  font-size: 25px;
  padding-top: 30px;
  color: white;
  width: 250px;
  height: 100vh;
  position: fixed;
  /* display: none; */
  background-color: #414658;
}
.navbart a {
  text-decoration: none;
  color: white;
  margin-left: 50px;
  margin-top: 50px;
}
.navbart a:hover {
  color: #8293e6;
  transition: 0.3s;
}
.navbart button {
  border: none;
  margin-left: 200px;
  
  color: white;
  font-size: x-large;
  font-weight: 600;
}
.mark{
  background-color: #414658 !important;
}
.Singer {
  margin-top: 5%;
  width: 35%;
  height: 5%;
  margin-left: 30%;
  color: white;
  margin-top: 10%;
  text-align: center;
  background-color: #8293e6;
}
.loreaa {
  width: 35%;
  height: 15%;
  text-align: center;
  background-color: #cccccc;
  margin-left: 30%;
  font-size: small;
}
.Singer1 {
  width: 35%;
  height: 5%;
  margin-left: 30%;
  color: white;
  text-align: center;
  background-color: #8293e6;
}
.join {
  width: 100%;
  height: 60%;
  background-color: #8293e6;
  background-size: cover;
  background-image: url(../e.jpg);
  margin-bottom: 5%;
  margin-top: 70px;
}
.colo {
  width: 100%;
  height: 100%;

  background-color: #8293e6b6;
}
.tim {
  padding: 10px;
  width: 250px;
  height: 150px;
  margin-top: 70px;
  border: 1px solid #fff;
  margin-left: 170px;
  color: white;
}
.tim1 {
  padding: 10px;
  width: 250px;
  height: 150px;
  border: 1px solid #fff;
  margin-left: 450px;
  margin-top: -150px;
  color: white;
}
.tim2 {
  padding: 10px;
  width: 250px;
  height: 150px;
  border: 1px solid #fff;
  color: white;
  margin-left: 730px;
  margin-top: -150px;
}
.tim3 {
  padding: 10px;
  width: 250px;
  color: white;
  height: 150px;
  border: 1px solid #fff;
  margin-left: 1000px;
  margin-top: -150px;
}
.finch {
  background-color: white;
}
.inpute {
  margin-left: 60%;
  margin-top: -250px;
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 10px;
  padding-right: 300px;
}
.inpute2 {
  margin-left: 60%;
  margin-top: -200px;
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 10px;
  padding-right: 300px;
}
.inpute3 {
  margin-left: 60%;
  margin-top: -150px;
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 200px;
  padding-right: 320px;
}
.btn {
  margin-left: 60%;
  margin-bottom: 10%;
  margin-top: -20px;
}
.finch h2 {
  margin-left: 300px;
  font-weight: 700;
}
.finch p {
  margin-left: 300px;
  color: #777;
}
.finch h5 {
  margin-left: 300px;
  font-weight: 700;
}
.chart {
  margin-left: 60%;
  margin-top: 15px;
}
.number {
  color: blue;
  font-size: large;
}
/* .icon{
  width: 40px;
  height: 40px;
  border: solid 1px #777;
  
} */
.fatta {
  font-size: 25px;
  margin-left: 10px;
  margin-top: 5px;
  display: flex;

  width: 50px;
  height: 60px;
  margin: 10px;
  padding: 20px;
  margin-top: -350px;
}
.fatta1 {
  font-size: 25px;
  margin-left: 10px;
  margin-top: 5px;
}
ul.social-set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
  height: auto;
  width: auto;
  margin-left: -30%;
}
ul.social-set li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
/* Font Awesome icons */
a.sociali {
  font-size: 1.5em;
  line-height: 1.2em;
  padding: 10px;
  background: white;
  color: #777;
  margin-right: 10px;
  margin-bottom: 10px !important;
  padding-bottom: 10px !important;
  /* margin-left: -30%; */
}
a.sociali:hover,
a.sociali:focus {
  background: blue;
}
.redas {
  color: blue;
}
.send{
  background-color: blue;
  border: none;
}